/*
    TABLE OF CONTENTS
    1. Global
    2. Header
    3. Services
    4. Projects
*/
/* 1. Global */
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: white; }

.container {
  width: 60%;
  margin: auto;
  overflow: hidden; }

h1, h3, h5 {
  font-family: "Playfair Display", Arial, serif;
  font-weight: 400; }

/* 2. Header */
header {
  background: linear-gradient(to right, rgba(255, 62, 28, 0.5) 0%, rgba(255, 62, 28, 0.63) 26%, darkorange 100%);
  color: white;
  padding-top: 60px;
  min-height: 450px;
  text-align: center; }
  header .header__branding h1 {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 26px;
    font-weight: bold; }
  header .header__captions {
    margin-top: 120px; }
    header .header__captions h1 {
      font-size: 60px;
      line-height: 1.5;
      letter-spacing: 2px;
      margin-bottom: 0; }
      @media (max-width: 760px) {
        header .header__captions h1 {
          font-size: 40px; } }
      @media (max-width: 400px) {
        header .header__captions h1 {
          font-size: 25px; } }
    header .header__captions h3 {
      margin-top: 25px; }

/* 3. Services */
.services {
  background: #F2F2F2;
  padding: 80px 0 80px 0;
  text-align: center; }
  .services .container {
    display: flex;
    flex-wrap: wrap;
    width: 90%; }
    .services .container .services__section {
      flex: 1 1 30%;
      margin-left: 20px;
      margin-right: 20px; }
      .services .container .services__section i {
        font-size: 80px;
        text-align: center;
        width: 100%; }
      @media (max-width: 1360px) {
        .services .container .services__section {
          flex: 50%;
          max-width: 100%;
          margin: 20px; } }

/* 4. Projects */
.projects {
  padding: 100px 0 100px 0; }
  .projects .container {
    width: 75%; }
  .projects .projects__title {
    text-align: center; }
    .projects .projects__title h3 {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 20px;
      line-height: 1.5;
      color: black; }
  .projects .projects__rows {
    display: flex;
    flex-wrap: wrap;
    padding: 10px; }
    .projects .projects__rows .projects__project {
      width: 31%;
      height: 250px;
      position: relative;
      margin: 10px; }
      @media (max-width: 1190px) {
        .projects .projects__rows .projects__project {
          flex: 50%;
          max-width: 100%;
          margin: 20px; } }
      .projects .projects__rows .projects__project h5 {
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        position: absolute;
        right: 20px;
        left: 20px;
        bottom: 30px; }
      .projects .projects__rows .projects__project p {
        font-size: 14px;
        margin: 0;
        position: absolute;
        right: 20px;
        left: 20px;
        bottom: 10px; }
      .projects .projects__rows .projects__project a {
        color: inherit; }
      .projects .projects__rows .projects__project .projects__project-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, rgba(255, 62, 28, 0.85) 0%, rgba(255, 62, 28, 0.9) 26%, darkorange 100%);
        color: #F2F2F2;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s; }
      .projects .projects__rows .projects__project:hover .projects__project-overlay {
        visibility: visible;
        opacity: 1; }
  .projects img {
    display: block;
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=style.css.map */
